body{
  background-color: #E5F3F5;
  text-align: center;
  line-height: 2.5;
  font-size: 3;
}

p,h3{
  text-align: left;
  font-size: 1em;
  line-height: 1.25;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h3{
  font-size: 1.05em;
  line-height: 1;
}

h1{
  background-color: lavender;
  font-size: 3em;
  letter-spacing: 2px;
  line-height: 3;
  font-weight: bold;
}

h2{
  line-height: 2;
}
